.pageTitle {
  position: relative;
  letter-spacing: 0.04em;
  line-height: 38px;
  font-weight: 600;
}
.pageTitleContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
}
.dayName {
  position: relative;
  letter-spacing: 0.04em;
  line-height: 145%;
  font-weight: 600;
}
.dayItemNameContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 8px;
}
.chevronRightIcon {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.buttonsbutton {
  border-radius: 9999px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px;
}
.dayItem {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
}
.number {
  position: absolute;
  top: calc(50% - 9px);
  left: -29px;
  line-height: 18px;
  font-weight: 500;
}
.endpointIcon {
  width: 16px;
  position: relative;
  height: 0px;
  object-fit: contain;
}
.lineIcon {
  width: 0px;
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: contain;
}
.measureLineBase {
  position: absolute;
  height: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.endpointIcon2 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 0px;
  flex-shrink: 0;
  object-fit: contain;
}
.measureLineBase1 {
  position: absolute;
  height: 100%;
  width: calc(100% - 20px);
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.lines {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.measureSpacingGuide {
  width: 320px;
  flex: 1;
  position: relative;
  display: none;
}
.paddingTop {
  width: 320px;
  height: 24px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.dividerIcon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 1px;
  flex-shrink: 0;
}
.divider {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: right;
  font-size: 12px;
  color: #da2d20;
}
.dayItemsContainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 20px;
  color: #101828;
}
.mainContainer {
  position: absolute;
  top: 68px;
  left: 0px;
  width: 430px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.time1 {
  position: absolute;
  top: 33.89%;
  left: 38.28%;
  line-height: 22px;
  font-weight: 600;
}
.time {
  position: absolute;
  width: 35.12%;
  top: calc(50% - 27px);
  right: 64.88%;
  left: 0%;
  height: 54px;
}
.border {
  position: absolute;
  height: 100%;
  top: 0%;
  bottom: 0%;
  left: calc(50% - 13.65px);
  border-radius: 4.3px;
  border: 1px solid #fff;
  box-sizing: border-box;
  width: 25px;
  opacity: 0.35;
  mix-blend-mode: normal;
}
.capIcon {
  position: absolute;
  height: 31.54%;
  top: 36.92%;
  bottom: 31.54%;
  left: calc(50% + 12.35px);
  max-height: 100%;
  width: 1.3px;
  mix-blend-mode: normal;
}
.capacity {
  position: absolute;
  height: 69.23%;
  top: 15.38%;
  bottom: 15.38%;
  left: calc(50% - 11.65px);
  border-radius: 2.5px;
  background-color: #fff;
  width: 21px;
}
.battery {
  position: absolute;
  height: 24.07%;
  top: 42.59%;
  bottom: 33.33%;
  left: calc(50% + 10.75px);
  width: 27.3px;
}
.wifiIcon {
  position: absolute;
  height: 22.78%;
  top: 43.7%;
  bottom: 33.52%;
  left: calc(50% - 13.55px);
  max-height: 100%;
  width: 17.1px;
}
.cellularConnectionIcon {
  position: absolute;
  height: 22.59%;
  top: 43.52%;
  bottom: 33.89%;
  left: calc(50% - 40.25px);
  max-height: 100%;
  width: 19.2px;
}
.levels {
  position: absolute;
  width: 36.4%;
  top: calc(50% - 27px);
  right: 0%;
  left: 63.6%;
  height: 54px;
}
.statusBar1 {
  position: absolute;
  width: 100%;
  top: 0px;
  right: 0px;
  left: 0px;
  background-color: #fff;
  height: 54px;
}
.statusBar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 430px;
  height: 56px;
  overflow: hidden;
  font-size: 17px;
  color: #fff;
  font-family: "SF Pro";
}
.clipPathGroup {
  position: absolute;
  height: 100%;
  width: 26.34%;
  top: 0%;
  right: 73.66%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon {
  position: absolute;
  height: 64.69%;
  width: 65.1%;
  top: 15.63%;
  right: 0%;
  bottom: 19.69%;
  left: 34.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.logo {
  width: 121.5px;
  position: relative;
  height: 32px;
}
.noraLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.buttonsbutton7 {
  flex: 1;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 9999px;
  background-color: #fff;
  border: 1px solid #d0d5dd;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px;
}
.actions {
  width: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.appHeader {
  position: absolute;
  width: 100%;
  top: 0px;
  right: 0px;
  left: 0px;
  background-color: #fff;
  border-bottom: 1px solid #d0d5dd;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}
.mealPlanDayList {
  width: 100%;
  position: relative;
  border-radius: 32px;
  background-color: #fff;
  height: 932px;
  overflow: hidden;
  text-align: center;
  font-size: 30px;
  color: #000;
  font-family: "Degular Display";
}
