.aiQuestion,
.aiQuestion1 {
  align-self: stretch;
  position: relative;
}
.aiQuestion {
  letter-spacing: 0.04em;
  line-height: 38px;
  font-weight: 600;
}
.aiQuestion1 {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 150%;
}
.aiContents {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  text-align: center;
  font-size: 30px;
}
.featuredIcon {
  width: 56px;
  position: relative;
  border-radius: 9999px;
  height: 56px;
}
.aiQuestion2,
.aiQuestion3 {
  align-self: stretch;
  position: relative;
}
.aiQuestion2 {
  letter-spacing: 0.04em;
  line-height: 145%;
  font-weight: 600;
}
.aiQuestion3 {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 130%;
}
.aiContents1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.chatMainContainer,
.container,
.iconAndText {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.iconAndText {
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
}
.chatMainContainer,
.container {
  flex: 1;
  flex-direction: column;
}
.container {
  align-items: flex-start;
  gap: 24px;
}
.chatMainContainer {
  align-items: flex-end;
  padding: 24px 16px;
}
.privacyLink,
.termsLink {
  flex: 1;
  position: relative;
  text-decoration: underline;
  letter-spacing: 1px;
  line-height: 130%;
  font-weight: 600;
}
.privacyLink {
  text-align: right;
}
.footerLinks {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.checkboxBase {
  width: 20px;
  position: relative;
  border-radius: 6px;
  border: 1px solid #d0d5dd;
  box-sizing: border-box;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2px 0 0;
}
.supportingText,
.text {
  position: relative;
  letter-spacing: 1px;
  line-height: 130%;
}
.text {
  align-self: stretch;
  font-weight: 600;
}
.supportingText {
  width: 312px;
  color: #475467;
  display: none;
}
.textAndSupportingText {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
}
.checkbox,
.checkboxAndText {
  align-self: stretch;
  align-items: flex-start;
}
.checkbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 12px;
}
.checkboxAndText {
  color: #344054;
}
.checkboxAndText,
.footer,
.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer {
  align-self: stretch;
  align-items: flex-start;
  padding: 24px 16px;
  gap: 24px;
  font-size: 16px;
  color: #475467;
}
.mainContainer {
  position: absolute;
  top: 127px;
  left: 0;
  width: 430px;
  height: 692px;
  align-items: flex-end;
  gap: 32px;
}
.bookmarkIcon {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.buttonsbutton {
  top: 814px;
  left: 16px;
  box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 9999px;
  background-color: #fff;
  border: 1px solid #d0d5dd;
  overflow: hidden;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px;
}
.buttonsbutton,
.time,
.time1 {
  position: absolute;
}
.time1 {
  top: 33.89%;
  left: 38.26%;
  line-height: 22px;
  font-weight: 600;
}
.time {
  width: 35.74%;
  top: calc(50% - 27px);
  right: 64.26%;
  left: 0;
  height: 54px;
}
.border,
.capIcon {
  position: absolute;
  mix-blend-mode: normal;
}
.border {
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 13.65px);
  border-radius: 4.3px;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 25px;
  opacity: 0.35;
}
.capIcon {
  height: 31.54%;
  top: 36.92%;
  bottom: 31.54%;
  left: calc(50% + 12.35px);
  max-height: 100%;
  width: 1.3px;
}
.capacity {
  position: absolute;
  height: 69.23%;
  top: 15.38%;
  bottom: 15.38%;
  left: calc(50% - 11.65px);
  border-radius: 2.5px;
  background-color: #000;
  width: 21px;
}
.battery {
  position: absolute;
  height: 24.07%;
  top: 42.59%;
  bottom: 33.33%;
  left: calc(50% + 11.15px);
  width: 27.3px;
}
.cellularConnectionIcon,
.wifiIcon {
  position: absolute;
  height: 22.78%;
  top: 43.7%;
  bottom: 33.52%;
  left: calc(50% - 13.15px);
  max-height: 100%;
  width: 17.1px;
}
.cellularConnectionIcon {
  height: 22.59%;
  top: 43.52%;
  bottom: 33.89%;
  left: calc(50% - 39.85px);
  width: 19.2px;
}
.levels {
  position: absolute;
  width: 35.74%;
  top: calc(50% - 27px);
  right: 0;
  left: 64.26%;
  height: 54px;
}
.statusBar,
.statusBar1 {
  position: absolute;
  top: 0;
  left: 0;
}
.statusBar1 {
  width: 100%;
  right: 0;
  height: 54px;
}
.statusBar {
  width: 430px;
  height: 56px;
  overflow: hidden;
  text-align: center;
  font-size: 17px;
  font-family: "SF Pro";
}
.homeIndicator {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 67px);
  border-radius: 100px;
  background-color: #000;
  width: 134px;
  height: 5px;
}
.homeindicator {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 430px;
  height: 34px;
}
.icon {
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 0;
}
.icon,
.label,
.label1 {
  position: relative;
}
.label {
  line-height: 24px;
  font-weight: 600;
  z-index: 1;
}
.label1 {
  line-height: 16px;
}
.badgenew,
.basebadge,
.desktop {
  flex-direction: row;
  align-items: center;
}
.basebadge {
  width: 16px;
  border-radius: 48px;
  background-color: #501e96;
  height: 16px;
  display: flex;
  justify-content: center;
  padding: 2px 8px;
  box-sizing: border-box;
}
.badgenew,
.desktop {
  display: none;
  justify-content: flex-start;
}
.badgenew {
  margin: 0 !important;
  position: absolute;
  top: -8px;
  left: 11px;
  z-index: 2;
  text-align: center;
  font-size: 8px;
  color: #fff;
}
.desktop {
  gap: 8px;
}
.desktop,
.label2,
.label3 {
  position: relative;
}
.label2 {
  letter-spacing: 1px;
  line-height: 155%;
  font-weight: 600;
  z-index: 1;
}
.label3 {
  line-height: 16px;
  display: none;
}
.basebadge1 {
  align-self: stretch;
  flex: 1;
  border-radius: 48px;
  background-color: #f1f0ee;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2px 0;
}
.asteroidIndicator,
.mobile {
  align-items: center;
  justify-content: flex-start;
}
.asteroidIndicator {
  width: 8px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 28px;
  height: 8px;
  display: none;
  flex-direction: row;
  z-index: 2;
  text-align: center;
  font-size: 12px;
  color: #575655;
  font-family: Montserrat;
}
.mobile {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 4px;
  font-size: 14px;
  color: #101828;
  font-family: "Degular Display";
}
.arrowDropDownIcon {
  width: 16px;
  position: relative;
  height: 16px;
  display: none;
}
.container3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.border1 {
  width: 84px;
  position: relative;
  background-color: #501e96;
  height: 2px;
  display: none;
}
.container2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.asteroidIndicator1 {
  width: 8px;
  height: 8px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: 12px;
}
.basenavitem,
.item11 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.basenavitem {
  padding: 8px 16px;
  gap: 8px;
}
.item11 {
  border-radius: 12px;
  overflow: hidden;
}
.icon2,
.mobile1 {
  position: relative;
}
.icon2 {
  width: 24px;
  height: 24px;
  z-index: 0;
}
.mobile1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  font-size: 14px;
  color: #242424;
  font-family: "Degular Display";
}
.item04 {
  flex: 1;
  background-color: #dbf7ff;
  display: flex;
}
.item04,
.item10,
.item9 {
  align-self: stretch;
  border-radius: 12px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.item9 {
  flex: 1;
  display: flex;
}
.item10 {
  width: 99.5px;
  display: none;
}
.label22 {
  position: relative;
  line-height: 16px;
  font-weight: 600;
  z-index: 1;
}
.asteroidIndicator8,
.mobile4 {
  align-items: center;
  justify-content: flex-start;
}
.asteroidIndicator8 {
  width: 8px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 28px;
  height: 8px;
  display: none;
  flex-direction: row;
  z-index: 2;
  text-align: center;
}
.mobile4 {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 4px;
  font-size: 12px;
}
.border5 {
  align-self: stretch;
  position: relative;
  background-color: #3d3d3d;
  height: 2px;
  opacity: 0;
}
.basenavitem4 {
  width: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  box-sizing: border-box;
  gap: 8px;
}
.basenavitem4,
.border6,
.item02 {
  align-self: stretch;
}
.item02 {
  width: 99.5px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.border6 {
  position: relative;
  background-color: #501e96;
  height: 2px;
  opacity: 0;
}
.icon12 {
  width: 24px;
  position: relative;
  height: 24px;
  display: none;
  z-index: 0;
}
.label30 {
  position: relative;
  line-height: 24px;
  z-index: 1;
}
.asteroidIndicator12,
.desktop6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.desktop6 {
  position: relative;
  gap: 8px;
}
.asteroidIndicator12 {
  width: 8px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 28px;
  height: 8px;
  z-index: 2;
  text-align: center;
}
.border7,
.mobile6 {
  position: relative;
  display: none;
}
.mobile6 {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  font-size: 12px;
}
.border7 {
  width: 84px;
  background-color: #28d7dc;
  height: 2px;
  opacity: 0;
}
.basenavitem6,
.item06 {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.basenavitem6 {
  display: flex;
  padding: 8px 16px;
  gap: 8px;
}
.item06 {
  width: 99.5px;
  display: none;
}
.asteroidNav,
.basenavbarnavsecondary {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.basenavbarnavsecondary {
  justify-content: center;
}
.secondary {
  align-self: stretch;
  flex: 1;
  justify-content: flex-end;
}
.asteroidNav1,
.container1,
.nav1,
.secondary {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container1 {
  align-self: stretch;
  flex: 1;
  justify-content: center;
  padding: 0 16px;
}
.asteroidNav1,
.nav1 {
  justify-content: flex-start;
}
.nav1 {
  align-items: flex-start;
}
.nav {
  width: 430px;
  height: 64px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.homeindicator1 {
  width: 390px;
  position: relative;
  height: 34px;
  display: none;
}
.asteroidTabbar,
.tabbar {
  box-sizing: border-box;
  flex-direction: column;
}
.asteroidTabbar {
  align-self: stretch;
  background-color: #fff;
  border-top: 1px solid #e0dfdc;
  height: 97px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
}
.tabbar {
  position: absolute;
  bottom: 33px;
  left: 0;
  box-shadow: 0-1px 0 rgba(199, 198, 197, 0.25);
  border-top: 1px solid #d0d5dd;
  width: 430px;
  display: none;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 16px;
  color: #575655;
  font-family: Montserrat;
}
.onboardingWelcomeAndPrivacy {
  width: 100%;
  position: relative;
  border-radius: 32px;
  background-color: #fff;
  height: 932px;
  overflow: hidden;
  text-align: left;
  font-size: 20px;
  color: #000;
  font-family: "Degular Display";
}
